{%load static %}
<link rel="stylesheet" href="{% static 'css\ContactUs.css'%}" />
<link rel="stylesheet" href="{% static 'css\HomePage.css'%}" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resources WebSite</title>
    <link rel="Stylesheet" href="Stylesheet/ContactUs.css">
    <link rel="stylesheet" href="Stylesheet/HomePage.css">
</head>

<body style="background-image: url({% static 'image\HRR.jpg' %});">
    <header>
        <nav>
            <div class="LOGO">
                <h1><em>
                        <span style="color: #767979; font: akronim;">H</span><sub>R</sub>
                    </em>
                    <sup>
                        <I><span style="color: #767979;">Human</span> <sub> Resources</sub></I>
                    </sup>
                </h1>
            </div>
            <ul>
                <li> <a href="http://127.0.0.1:8000/homepage"  title="Home Page"><b> Home</b></a></li>
                <li> <a href="http://127.0.0.1:8000/HumanResources/"  title="HR Resources"><b> HR Resources</b></a></li>
                <li> <a href="http://127.0.0.1:8000/ContactUs/"  title="Contact US"><b>Contact Us</b></a></li>
                <li> <a href="http://127.0.0.1:8000/sign/LogIn"  title="Sign In"><b>Sign In</b></a></li>
            </ul>
            </li>
        </nav>
    </header>
    <aside>
        <pre>
            Name : Magdi khaled kelany

            LinkedIn Acc : <a class="CtA" href="https://www.linkedin.com/in/magdi-khaled-2b1b61206/" target="_blank">LinkedIn</a>

            Phone : 01122368948
        </aside>
        <aside>
        <pre>
            Name : Youssef Tarek Salah

            LinkedIn Acc : <a class="CtA" href="https://www.linkedin.com/in/youssef-tarek-2a4567232/" target="_blank">LinkedIn</a>

            Phone : 01112280301
        </pre>
    </aside>
    <aside class="s3As">
        <pre>
            Name : Mohamed Ibrahim Mohamed

            LinkedIn Acc : <a class="CtA" href="https://www.linkedin.com/in/magdi-khaled-2b1b61206/" target="_blank">LinkedIn</a>

            Phone : 01123503475
            </pre>
    </aside>
    <footer>
        <br>
        Made By SWE<sub>s</sub> TEAM <SPAN style="color: rgb(215, 215, 32); font-size: 20px;">&hearts;</SPAN>
        <br>
        Copy Right &copy; 2022
        <br>
    </footer>
</body>

</html>