{%load static%}
<link rel="stylesheet" href="{% static 'css\forgetpassword.css'%}" />
<link rel="stylesheet" href="{% static 'css\nav.css'%}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Human Resources WebSite</title>
</head>
<body style="background-image: url({% static 'image\HRR.jpg' %});background-size:cover;">
    <header style="background-color:rgba(0,0,0,0.8)">
        <nav style="padding-top:20px;">
            <div class="LOGO">
                <h1><em>
                        <span style="color: #767979; font: akronim;">H</span><sub>R</sub>
                    </em>
                    <sup>
                        <I><span style="color: #767979;">Human</span> <sub> Resources</sub></I>
                    </sup>
                </h1>
            </div>
            <ul>
                <li> <a href="http://127.0.0.1:8000/homepage"  title="Home Page"><b> Home</b></a></li>
                <li> <a href="http://127.0.0.1:8000/HumanResources/"  title="HR Resources"><b> HR Resources</b></a></li>
                <li> <a href="http://127.0.0.1:8000/ContactUs/"  title="Contact US"><b>Contact Us</b></a></li>
                <li> <a href="http://127.0.0.1:8000/sign/LogIn"  title="Sign In"><b>Sign In</b></a></li>
            </ul>
            </li>

        </nav>
    </header>
    <div class="forgetPassword" >
        <h2>forget password?</h2>
        <form >
            <label for="email">Email Address :</label>
            <i class="fa fa-envelope"></i>
            <input type="email" id="email" placeholder="Please Enter Your Email Address Or Username" required>
            <i class="fa fa-arrow-right"></i>
            <input type="submit" value="Send">
        </form>
    </div>
    
</body>
</html>