body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    background-image: linear-gradient(215deg,rgba(195, 188, 179, 0.416),rgba(0, 0, 0, 0.8)),url(../HRR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.399);
    font-family:'Poppins',sans-serif;
    opacity: 0.9;
}
form{
    background-color: black;
    width: 380px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
    background-color: rgba(47, 45, 45, 0.677);
    border-radius: 20px;
    box-shadow: 10px 10px #000000da;
    color: white;
}
.EID{
    position: relative;
    top: 50px;
    left: 40px;
}
.NOVac{
    position: relative;
    top: 60px;
    left: 40px;
}
#fname,#lname,#sd,#ed,#EID{
    border-radius: 15px;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Date{
    position: relative;
    top: 70px;
    left: 40px;
}
.Reasonform{
    position: relative;
    top: 70px;
    left: 45px;
}
#Submit{
    border-radius: 15px;
    width: 200px;
    height: 30px;
    margin-top: 80px;
    margin-bottom: 15px;
    margin-left: 90px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.604);
    cursor: pointer;
    box-shadow: 3px 3px rgb(109, 108, 108);

}
#requests{
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    left: 90px;
    border-radius: 25px;
    width: 200px;
    cursor: pointer;
    box-shadow: 3px 3px rgb(109, 108, 108);
}

footer{
    position: relative;
    top: 130px;
}
