{%load static %}
<link rel="stylesheet" href="{% static 'css\newpage.css'%}" />
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="StyleSheet" href="../S1_20200656_Project1_ibrahim gomaa_phase2/Stylesheet/newpage.css">
    </head>
{%load static %}
    <body  style="background-image: url({% static 'image\klim-musalimov-S9XbyS7ylf0-unsplash.jpg' %});" >
        
        <h1>Projects</h1>
        <div style="margin:0px;" class="box3">
            <h2>Choose a Project</h2>
            <div class="b12">
               <a href="http://127.0.0.1:8000/homepage"><button class="b1" >Human Resources</button></a> 
                <button class="b2">Students Affairs</button>
            </div>
            <div class="b34">
                <button class="b3">Higher Studies</button>
                <button class="b4">Laboratory Tracking</button>
            </div>
        </div>
    </body>

</html>